.content{
    margin-top: 100px;
    padding: 20px;
    background-color:#f2dede;
}
.body{
    background-image: url("3.jpg");
}
                                                                   /* CSS */
  .btnExample {
  color: #900;
  background: #f7e1b5;
      font-size: 16px;
  font-weight: bold;
  border: 1px solid #900;
      padding: 10px;
      margin-top: 10px;
}

.btnExample a:hover {
    color: #FFF;
    background: #900;
    text-decoration: none;
}
.list{
   margin-top: 200px;
}
.showfile{
    margin-top: 50px;
}
.tablelist{
    margin-top: 70px;
}